# Telegram bot kütüphanesi
pyTelegramBotAPI==4.11.1

# Flask web server için
Flask==2.3.2

# HTTP istekleri için
requests==2.31.0

# Ortam değişkenleri yönetimi (opsiyonel, eğer kullanıyorsan)
python-dotenv==1.0.0


